# Node.js
node_modules/

# Archivos de entorno / secretos
*.bat
*.env
local-*.bat
*-local

# VS Code
.vscode/

# Logs
*.log

# Bases de datos locales
*.mdf
*.ldf

# Compilados TypeScript
dist/

# Archivos generados
certificados/*
carpeta-base/salida/*
carpeta-base/entrada/*
