.container {
    background: white;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 400px;
    margin-top: 30px;
    text-align: center;
}
.container { 
    background: white;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 400px;
    margin-top: 30px;
    text-align: center;
}

h2 {
    margin-top: 10px;
    color: #34495e;
    text-align: center;
    font-weight: normal;
}

button {
    margin: 10px 0;
    width: 80%;
}