/* ======== register.css ======== */
.container {
    background: white;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 400px;
    margin-top: 30px;
    text-align: center;
}

.container input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

h2 {
    margin-top: 10px;
    color: #34495e;
    text-align: center;
    font-weight: normal;
}

button {
    margin: 10px 0;
    width: 80%;
}

.redirect {
    margin-top: 12px;
    font-size: 14px;
    color: #555;
}
.redirect a {
    color: #3498db;
    font-weight: bold;
}
.redirect a:hover {
    text-decoration: underline;
}

#mensaje {
    margin-top: 10px;
    font-weight: bold;
}
